@font-face {
    font-family: 'stm-service-default';
    src:    url('../fonts/service-fonts/stm-service-default.eot?vcgqsx');
    src:    url('../fonts/service-fonts/stm-service-default.eot?vcgqsx#iefix') format('embedded-opentype'),
        url('../fonts/service-fonts/stm-service-default.ttf?vcgqsx') format('truetype'),
        url('../fonts/service-fonts/stm-service-default.woff?vcgqsx') format('woff'),
        url('../fonts/service-fonts/stm-service-default.svg?vcgqsx#stm-service-default') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="stm-service-icon-"], [class*=" stm-service-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'stm-service-default' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stm-service-icon-listing-compare:before {
    content: "\e909";
}
.stm-service-icon-user:before {
    content: "\e908";
}
.stm-service-icon-listing_car_plus:before {
    content: "\e907";
}
.stm-service-icon-cash_dollar:before {
    content: "\e900";
}
.stm-service-icon-like_it:before {
    content: "\e901";
}
.stm-service-icon-shield_check:before {
    content: "\e902";
}
.stm-service-icon-award_blank:before {
    content: "\e903";
}
.stm-service-icon-diagnostic_monitor:before {
    content: "\e904";
}
.stm-service-icon-calendar_service:before {
    content: "\e905";
}
.stm-service-icon-appointment_calendar:before {
    content: "\e906";
}

